@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

ul li {
    list-style: none;
}

button {
    outline: none;
}

.Home_banner .carousel-item img {
    height: 360px;
    width: 100% !important;


}

.offcanvas {
    width: 80%;
}

.offcanvas-body a {
    display: block;
    color: #9D9D9D;
    padding: 13px 20px 13px 20px;
    border-bottom: 1px solid #e2e2e2;
}

.offcanvas-body a.active {
    color: #33cc99;
}

.offcanvas-header {
    background: linear-gradient(to right, rgba(23, 147, 200, 1) 0%, rgba(66, 216, 164, 1) 100%);
}

.offcanvas-header img {
    width: 78px;
}

.offcanvas-body a i {
    font-size: 20px;
    margin-right: 10px;
}

.header_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.login_btn {
    font-size: 12.5px;
    color: #0080FF;
    background-color: transparent;
    margin-right: 13px;
    padding: 10px 15px;
    border: 1px solid #0080FF;
    border-radius: 4px;
    position: relative;
}

.login_btn:hover {
    color: #0080FF;

}

.Sign_up {
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: #0080FF;
    padding: 0;
    border-radius: 4px;
    font-size: 12.5px;
    border: 1px solid #0080FF;
    height: 42px;
}

.Sign_up:hover {
    color: white;

}

.Sign_up img {
    width: 14px;
}

.navbar_brand img {
    width: 160px;
}

.nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bar a {
    font-size: 12px;
    line-height: 20px;
    color: #848484 !important;
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
}

.nav_bar a.active {
    color: #33cc99 !important;
}


.fa-th {
    color: #33cc99 !important;

}

.fa-trophy {
    color: #FFDB01;
}

.fa-shopping-bag {
    color: rgb(49, 151, 176);
}

.fa-play-circle {
    color: red;
}

.fa-question-circle {
    color: orangered;
}

.fa-headphones {
    color: #0080FF;
}


/* //////// ////nav_sliderd start////////////////*/
.nav_slider {
    background-color: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
    position: relative;
}

.nav_slider .owl-carousel .item {
    text-align: center;
    white-space: nowrap;
    margin-top: 2px;
}

.nav_slider .owl-carousel .item a {
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    color: #3c3c3b!important;
    transition: all .3s ease;
}
.nav_slider .owl-carousel .active a{
    background-color: #0080FF;
    color: white!important;
    padding: 3px 7px;
    border-radius: 5px;
}
.nav_slider .owl-carousel .item a:hover {
    background-color: #0080FF;
    color: white!important;
    padding: 3px 7px;
    border-radius: 5px;
}

.owl-theme .owl-nav [class*=owl-] {
    color: #000 !important;
    font-size: 23px !important;
    margin: 5px;
    padding: 4px 7px;
    background: transparent !important;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: -6px;
    right: -10px;
    background: transparent;

}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: -6px;
    left: -10px;
    background: transparent;
}

/* ////////////////nav_sliderd end////////////////*/
/* //////////////////////cardcss start///////////////////// */

.card {
    min-height: 281px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 3px;
    width: 100%;

    margin: 0 auto 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 3px 1px rgb(208 209 213 / 60%), 0 2px 2px 1px rgb(220 221 224 / 40%);
    -webkit-box-shadow: 2px 2px 3px 1px rgb(208 209 213 / 60%), 0 2px 2px 1px rgb(220 221 224 / 40%);
    -moz-box-shadow: 2px 2px 3px 1px rgba(208, 209, 213, 0.6), 0 2px 2px 1px rgba(220, 221, 224, 0.4);
}

.card .img1 {
    width: 20.8px;
    height: 20.8px;
    margin: 5px;
}

.card .img2 {
    width: 100%;
    border-radius: 14px;
    height: 130px;
}

.card a.title {
    /* display: inline-block; */
    display: block;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: center;
    color: #4d4d4d;
    font-weight: normal;
    white-space: nowrap;
    font-size: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c3b9b9;
}

.card a.title:hover {
    text-decoration: underline;
}

.card span {
    display: block;
    margin-top: 1px;
}

.card span.card_prize {
    font-size: 18px;
    font-weight: bold;
    color: #33cc99;
    height: 22px;
    /* margin-top: 2px; */
    text-align: center;

}

.card .nickname {
    font-size: 14px;
    text-align: center;
    color: #4d4d4d;
    /* margin-top: 2px; */
}

.card h4.card_time {
    color: #4d4d4d;
    margin-top: -3px;
    font-size: 16px !important;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 1px;
}

.card .card_rebre {
    background: linear-gradient(to right, #a8b6bf 0%, #d5d6d9 100%);
    text-align: center;
    color: #ffffff;
    padding: 7px 5px;
    text-transform: uppercase;
    display: block;
    border: none;
    line-height: 1.42857143;
    margin-bottom: 10px;
    border-radius: 0;
}

.card .card_rebre h4 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
}

.card button.btn_theme1 {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    background-color: #ffffff;
    border: 2.4px solid #4d95ec !important;
    font-size: 10px;
    border-radius: 4px;
    color: #4d95ec;
    padding: .4rem .2rem;
}

.card button i {
    margin-right: 2px;
}

.card button.btn_theme2 {

    width: 100%;
    font-weight: bold;
    color: #000;
    border: 2.4px solid #a4b5be;
    border-radius: 4px;
    background-color: transparent;
    color: #002138;
    font-size: 10px;
    padding: .4rem .2rem;
}

/* //////////////////////cardcss end///////////////////// */
/* //////////////////////footer start////////////////////// */
footer {
    background-color: #002138;
    color: #ffffff;
    padding: 5rem 0 3rem 0;
}

footer h3 {
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: bold;
}

footer a {
    color: #cecbcc;
    display: block;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    margin-bottom: 1rem;
    color: #cecbcc;
}

.footer_right p img {
    width: 20px;
}

.footer_card img {
    width: 36px;
    margin-bottom: 1rem;
}

.footer_head {
    color: #ffffff;
    border-top: 2px solid #fff;

}

.footer_head h4 {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.1;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.footer_icon a {
    margin: 0px 15px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 1rem 1.1rem;
    display: inline-block;

}

.footer_icon a i {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_head p {
    font-size: 14px;
    line-height: 1.42857143;
    margin-top: 50px
}

/* //////////////////////footer end////////////////////// */
/* //////////////////////login /////////////////// */
.form-bg {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.form-container {
    background-color: #fff;

    text-align: center;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.form-container:before,
.form-container:after {
    content: '';
    background-color: #002138;
    height: 50%;
    width: 4px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.form-container:after {
    top: auto;
    bottom: 10px;
    left: auto;
    right: 10px;
}

.form-container .title {
    color: #002138;
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 15px;
}

.form-container .social-links {
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
}

.form-container .social-links li {
    display: inline-block;
    margin: 0 3px;
}

.form-container .social-links li a {
    color: #555;
    line-height: 27px;
    height: 28px;
    width: 28px;
    border: 1px solid #555;
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease 0s;
}

.form-container .social-links li a:hover {
    color: #fff;
    background-color: #002138;
}

.form-container .description {
    color: #555;
    font-size: 13px;
    margin: 0 0 10px;
    font-weight: 500;
    display: block;
}

.form-horizontal .form-group {
    margin: 0 0 15px;
}

.form-horizontal .form-group:last-of-type {
    text-align: left;
    margin-bottom: 35px;
}

.form-horizontal .form-control {
    color: #002138;
    background: #F7F8F9;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    height: 40px;
    padding: 6px 12px;
    border-radius: 5px;
    border: 2px solid #F2F5F6;
    box-shadow: none;
}

.form-horizontal .form-control:focus {
    border-color: rgba(18, 17, 58, 0.5);
    box-shadow: none;
}

.form-horizontal .form-control::placeholder {
    color: #af9f9f;
    font-size: 14px;
    font-weight: 300;
}

.form-horizontal .form-group .check-label {
    color: #555;
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
    margin: -2.5px 0 0;
    vertical-align: text-top;
    display: inline-block;
    font-weight: 500;
}

.form-horizontal .form-group .check-label a {
    color: #002138;
    transition: all 0.3s ease;
}

.form-horizontal .form-group .check-label a:hover {
    text-decoration: underline;
}

.form-horizontal .checkbox {
    height: 17px;
    width: 17px;
    min-height: auto;
    margin: 0 3px 0 0;
    border: 1px solid #999;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: all 0.3s ease;
}

.form-horizontal .checkbox:before {
    content: '';
    height: 6px;
    width: 12px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    opacity: 1;
    transform: rotate(-45deg);
    position: absolute;
    left: 2px;
    top: 2.5px;
    transition: all 0.3s ease;
}

.form-horizontal .checkbox:checked {
    background-color: #002138;
    border-color: #002138;
}

.form-horizontal .checkbox:checked:before {
    opacity: 1;
}

.form-horizontal .checkbox:not(:checked):before {
    opacity: 0;
}

.form-horizontal .checkbox:focus {
    outline: none;
}

.form-horizontal .btn {
    color: #fff;
    background-color: #002138;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    width: 130px;
    padding: 11px;
    margin: 0 10px 10px 0;
    border: 2px solid #002138;
    border-radius: 15px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.form-horizontal .btn.signin {
    color: #002138;
    background-color: #fff;
}

.form-horizontal .btn:hover,
.form-horizontal .btn:focus {
    color: #002138;
    background-color: #fff;
    box-shadow: 0 0 5px #002138, 0 0 15px #002138 inset;
}

.form-horizontal .btn.signin:hover,
.form-horizontal .btn.signin:focus {

    box-shadow: 0 0 5px #002138;
}

.form_content p {
    color: #848484;
    font-size: 13px;
    font-weight: 500;
}

.form_content p a {
    color: #002138;
    font-size: 13px;
    font-weight: 700;

}

.form_content p a:hover {

    text-decoration: underline;
}

.form_logo img {
    width: 150px;
    margin-bottom: 1.4rem;
}

.form_content .recover {
    color: #002138;
    font-size: 16px;
    font-weight: 700;

}

.form_content .create {
    color: #002138;
    font-size: 16px;
    font-weight: 700;
    transition: all .3s ease;

}

.form_content .create:hover {
    text-decoration: underline;
}

.auction_box {
    box-shadow: 2px 2px 3px 1px rgb(208 209 213 / 60%), 0 2px 2px 1px rgb(220 221 224 / 40%);
    border-radius: 10px;
    ;
    background-color: #ffffff;
    padding: 0px 20px 0px 20px;
    margin-bottom: 0px;
    cursor: pointer;
    margin-top: 45px;
}



.auction_box a {
    color: #000;
}

.box_price h5 {

    color: #25cd98;
    font-size: 22px;
    font-weight: bold;
}

.box_price p {

    bottom: 0px;
    color: #c1c1c1 !important;
    font-size: 14px;
    text-decoration: line-through;
    margin-top: 10px;
    line-height: 1.42857143;
    font-weight: lighter;
}

p.trophy_con {
    color: black;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.42857143;
}


p.subastek_con {
    font-size: 16px;
    font-weight: bold;
}

/* //////////////////////////page///////////////// */
.Daanniele_s .auction_box h2 {
    color: #3d3a3a;
    font-weight: bold;
    margin-left: 5px;
    font-size: 18px !important;
    line-height: 1.42857143;
    margin-bottom: 10px;
}

.auction .secong_age {

    color: #aaa;
    font-weight: lighter;
    font-size: 15px;

}

.auction p i {


    font-size: 18px;
    margin-right: 5px;

}

.auction_box img {
    width: 100%;
    object-fit: contain;
}

.Daanniele_s .auction_box h2 span {
    color: #3d3a3a;
    font-weight: normal;
    margin-left: 5px;
    font-size: 18px;
    line-height: 1.42857143;
}

.Daanniele img {
    height: 110px;
    width: 100%;
    object-fit: contain;
}

.Daanniele_s .auction_box h3 {

    color: #5e5e5e;
    font-weight: bold;
    display: block;
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 1.42857143;
    transition: all .3s ease;
}

.Daanniele_s .auction_box h3:hover {

    text-decoration: underline;
}

.Daanniele_s .auction_box h4 {
    color: #25cd98;
    font-size: 22px;
    font-weight: bold;
}

.Daanniele_s .auction_box p {
    color: #c6c6c6;

    position: relative;
    text-decoration: line-through;
    font-size: 14px;
}

.gusta_btn {
    border-top: 1px solid #e3e3e3;
    width: 100%;
    padding: 1rem 0;



}

.gusta_btn button {
    background: #fff;
    color: #0080FF;
    transition: all .3s ease;
    border: 1px solid #0080FF;

}

.gusta_btn button:hover {
    background: #0080FF;
    color: #fff;
    border: 1px solid #0080FF;

}

.gusta_btn span {
    color: #c4c4c4;

    font-size: 16px;
    font-weight: 200;

    position: relative;

    margin-left: 20px;
}


.recientes {
    background-color: #ffffff;
}

/* 
.recientes .nav-item {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #555; line-height: 1.42857143;
    border-top: 1px solid #dddddd; padding: .5rem 0;
    border-bottom: 1px solid #dddddd;
} */

.recientes .nav-item .nav-link {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    color: #555;
    background: transparent;
    border-top: 1px solid #dddddd;
    padding: .7rem 0;
    border-bottom: 2px solid #dddddd;
    border-radius: 0%;
}

.recientes .nav-item .nav-link:hover,
.recientes .nav-item .nav-link:active,
.recientes .nav-item .nav-link:focus {

    border-bottom: 2px solid #25cd98;
}

.recientes .nav-item .nav-link.navlink_1 {
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    color: #555;
}

.banner_OPINIONES {
    background: url(https://1c308283f6f0dbd72b44-c007ec4697a7ceab9178ce16802c0e6b.ssl.cf2.rackcdn.com/1.0/images/collagetestimonianze_desktop_large.jpg);
    width: 100%;
    height: 357px;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.OPINIONES_content h2 {
    font-size: 2em;
    color: #ffbc00;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.OPINIONES_content h3 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
}

/* /////////////////////////////////page///////////////// */
.faq_ {
    background: #f5f5f5;
}

.faq_video {
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px rgb(208 209 213 / 60%), 0 2px 2px 1px rgb(220 221 224 / 40%);
    -webkit-box-shadow: 2px 2px 3px 1px rgb(208 209 213 / 60%), 0 2px 2px 1px rgb(220 221 224 / 40%);
    margin-top: 50px;
    padding: 1rem;
    background: #fff;
    text-align: center;
}

.faq_video h2 {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.faq_video iframe {
    width: 100%;
    height: 315px;
    margin-bottom: 20px;
}

.faq_card img {
    width: 100px;
}

.faq_card h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin-bottom: 15px;
    margin-top: 15px;
}

.faq_card p {
    font-size: 13px;
    color: #9e9e9e;
}

.faq_btn_theme1 {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    display: inline-block;
    margin-top: 10px;
    margin-left: -20px;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    background: #33cc99;
    box-shadow: 2px 2px 3px 1px rgb(208 209 213 / 60%), 0 2px 2px 1px rgb(220 221 224 / 40%);
    -webkit-box-shadow: 2px 2px 3px 1px rgb(208 209 213 / 60%), 0 2px 2px 1px rgb(220 221 224 / 40%);
    -moz-box-shadow: 2px 2px 3px 1px rgba(208, 209, 213, 0.6), 0 2px 2px 1px rgba(220, 221, 224, 0.4);
}

.faq_btn_theme1:hover {
    color: white;
}

.faq_video h4 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.faq_card2 h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.42857143;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #333;
}

.faq_card2 p {
    font-size: 13px;
    color: #9e9e9e;
}

.faq_card2 img {
    width: 80px;
}

.last_content {
    text-align: center;
    line-height: 26px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.last_content span {
    color: #2196f3;
    font-weight: 600;
}

.faq_btn_theme2 {
    background: #2196f3;
    margin-top: 25px;
    padding: .6rem 1rem;
    margin: 0 auto;
    border-radius: 30px;
    font-size: 13px;
    color: white !important;
    box-shadow: 2px 2px 3px 1px rgb(208 209 213 / 60%), 0 2px 2px 1px rgb(220 221 224 / 40%);
    -webkit-box-shadow: 2px 2px 3px 1px rgb(208 209 213 / 60%), 0 2px 2px 1px rgb(220 221 224 / 40%);
    -moz-box-shadow: 2px 2px 3px 1px rgba(208, 209, 213, 0.6), 0 2px 2px 1px rgba(220, 221, 224, 0.4);
}

.faq_btn_theme1:hover {
    color: white;
}

.faq_btn_theme3 {
    background: #ffbc00;
    margin-top: 25px;
    padding: .6rem 1rem;
    margin: 0 auto;
    border-radius: 30px;
    font-size: 13px;
    color: white !important;
    box-shadow: 2px 2px 3px 1px rgb(208 209 213 / 60%), 0 2px 2px 1px rgb(220 221 224 / 40%);
    -webkit-box-shadow: 2px 2px 3px 1px rgb(208 209 213 / 60%), 0 2px 2px 1px rgb(220 221 224 / 40%);
    -moz-box-shadow: 2px 2px 3px 1px rgba(208, 209, 213, 0.6), 0 2px 2px 1px rgba(220, 221, 224, 0.4);
}

.faq_btn_theme1:hover {
    color: white;
}

.faq_btn_theme4 {
    background: #33cc99;
    margin-top: 25px;
    padding: .6rem 1rem;
    margin: 0 auto;
    border-radius: 30px;
    font-size: 13px;
    color: white !important;
    box-shadow: 2px 2px 3px 1px rgb(208 209 213 / 60%), 0 2px 2px 1px rgb(220 221 224 / 40%);
    -webkit-box-shadow: 2px 2px 3px 1px rgb(208 209 213 / 60%), 0 2px 2px 1px rgb(220 221 224 / 40%);
    -moz-box-shadow: 2px 2px 3px 1px rgba(208, 209, 213, 0.6), 0 2px 2px 1px rgba(220, 221, 224, 0.4);
}

.faq_btn_theme1:hover {
    color: white;
}

.border_left {
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
}

.faq_card2_content p {

    height: 130px;
    align-self: center;

}

._faq_body {

    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px rgb(208 209 213 / 60%), 0 2px 2px 1px rgb(220 221 224 / 40%);
    -webkit-box-shadow: 2px 2px 3px 1px rgb(208 209 213 / 60%), 0 2px 2px 1px rgb(220 221 224 / 40%);

    padding: 1rem;
    margin-top: 50px;
}

.accordion {
    width: 100%;

    padding: 0;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: .6rem 10px;
    color: #9d9d9d;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #CCC;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion .link:hover,
.accordion .link:focus {
    color: #0080FF;
}

.accordion .link a {
    color: #9d9d9d;
    font-size: 14px;
    font-weight: 500;
}

.accordion .link a:hover {
    color: #0080FF;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    float: right;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    font-size: 16px;
}

.accordion li.open .link {
    color: #9d9d9d;
}

.accordion li.open i {
    color: #9d9d9d;
}

.accordion li.open i.fa-chevron-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.accordion li.default .submenu {
    display: block;
}

/**
 * Submenu
 -----------------------------*/
.submenu {
    display: none;
    padding: 0;
    font-size: 14px;
    background-color: #f2f2f2;
}

.submenu li {
    border-bottom: 1px solid #CCC;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #9d9d9d;
    font-size: 14px !important;
    font-weight: 500;
    padding: .6rem 10px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    color: #0080FF;
}

.accordion .link h5 {
    color: #3d3a3a;
    font-size: 16px;
    font-weight: bold;
}

/* ////////////////////////////////bidbuy/////// */
.bid_image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.bid_image img {
    margin-top: 40px;
    width: 350px;
    height: 90px;

}

.bid_timer {
    position: relative;
    top: 70px;
}

.bid_timer .timer_con {
    font-size: 21px;
    text-align: center;
    color: #3d3a3a;
}

.bid_buy {
    position: relative;
}

.watch_timer {
    margin-right: 15px;
}

.watch_timer span {
    display: block;
    margin: 0;
    border-radius: 100%;
    background: #f7303d;
    width: 60px;
    height: 60px;
}

.watch_timer span h5 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 18px; */
    color: white;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    font-size: 25px;

}

.watch_timer p {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
    color: #848484;
}

.bid_buy2 {
    background-color: #f5f5f5;
    overflow: hidden;
    padding: 100px 0 100px 0;
}

.bid_card {
    position: relative;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 #555;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.bid_card_img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 140px;
}

.bid_card_img.bid_card_img1 {
    background: linear-gradient(180deg, #c2c2c2 0%, #75797c 100%);
}

.bid_card_img.bid_card_img2 {
    background: linear-gradient(180deg, #78e4a8 0%, #3c81c3 100%);
}

.bid_card_img.bid_card_img3 {
    background: linear-gradient(180deg, #a536f4 0%, #423aa9 100%);
}

.bid_card_img.bid_card_img4 {
    background: linear-gradient(180deg, #6ee2f8 0%, #417feb 100%);
}

.bid_card_img.bid_card_img5 {
    background: linear-gradient(180deg, #eb9d48 0%, #e03d45 100%);
}

.bid_card_img img {
    position: relative;
    top: -30px;
    left: -32px;
    width: 190px;
}

.bid_header_text {
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bid_header_text h2 {
    font-size: 54px;
    text-shadow: 2px 2px 1px rgb(100 100 100 / 35%);
    font-weight: bold;
    color: #fff;
    margin-bottom: -2px;
}

.bid_header_text h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.bid_card_content img {
    width: 23px;
    height: 17px;
    margin-right: 5px;
}

.bid_card_content {
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.bid_card_content p {
    font-size: 10px;
    color: #000;
}

.bid_card_content .card_footer {
    font-size: 12px;
    margin: 2.5px 0 3px 0;
    color: #9D9D9D;
    text-align: center;
}

.bid_btn button {
    border-radius: 20px;
    margin: 4px 0 6px 0;
    padding: 7px 30px;
    border: none;
    background: #63b4f4;
    background: -moz-linear-gradient(left, #4d95ec 0%, #5bbef6 100%);
    background: -webkit-linear-gradient(left, #4d95ec 0%, #5bbef6 100%);
    background: linear-gradient(to right, #4d95ec 0%, #5bbef6 100%);

    color: white;
}

.bid_btn button:hover {
    color: #fff;
}

.bid_btn button i {
    margin-right: 5px;
}

.Guarantee_card {
    box-shadow: 0px 1px 3px 3px rgb(208 209 213 / 60%), 0 0px 2px 1px rgb(220 221 224 / 40%);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 50px;
    background-color: #fff;
}

.Guarantee_card img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

.Guarantee_card h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    line-height: 1.42857143;
    color: #333;
}

.Guarantee_card p {
    font-size: 16px;
    color: #9c9c9c;
    text-align: left;
    line-height: 1.42857143;
}

.bid_badge11 span {
    font-size: 9px;

    color: white;
    position: relative;
    top: -5px;
}


.bid_badge11 {
    background: url(../images/more_sell.png);
    width: 100px;
    height: 33px;
    position: absolute;
    z-index: 100;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

/* /////////////////////////////////////////////// */
.my_auctions {
    margin-top: 80px;
    margin-bottom: 100px;
}

.tabel_content {
    border-radius: 14px;
    background: #fff;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);

}

.tabel_content table tr td,
.tabel_content table th {
    text-align: center;
}

.tabel_content table tr td p,
.tabel_content table tr td {
    color: #9d9d9d;
    font-size: 14px;
    padding: .2rem 0;
    margin-bottom: 2px;

}


.tabel_content table tr td .tabel_dark b {
    color: #000;
}

.my_auctions_box {
    border-radius: 14px;
    background: #fff;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
}

.my_auctions_box .my_auction_head {
    background: rgba(1, 171, 171, 1);
    background: -moz-linear-gradient(left, rgba(1, 171, 171, 1) 0%, rgba(33, 204, 170, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(1, 171, 171, 1) 0%, rgba(33, 204, 170, 1) 100%);
    background: -o-linear-gradient(left, rgba(1, 171, 171, 1) 0%, rgba(33, 204, 170, 1) 100%);
    background: -ms-linear-gradient(left, rgba(1, 171, 171, 1) 0%, rgba(33, 204, 170, 1) 100%);
    background: linear-gradient(to right, rgba(1, 171, 171, 1) 0%, rgba(33, 204, 170, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01abab', endColorstr='#21ccaa', GradientType=1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.my_auction_body a {
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 30px;
    border-bottom: 1px solid #ececec;
    color: #9d9d9d;
    padding: 10px 15px;
    font-size: 15px
}

.my_auction_body a p {
    margin-bottom: 0px;
}

.my_auction_body a img {
    width: 18px;
    height: 18px;
    margin: auto 0;
    margin-right: 5px;
}

.my_auction_head h4 {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    margin: 0px;
    color: white;
}

.my_auction_body span {
    border: 1.5px solid #25cd98;

    font-size: 9px;
    margin: 0;
    margin-right: 5px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    text-align: center;
}

.my_auction_body span p {

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9px;



}

/* /////////////////////////////////////////////////////// */
@media (min-width: 992px) {
    .bid_buy2 .bid_row .col-lg-3 {
        flex: 0 0 auto;
        width: 20%;
    }
}

@media (max-width: 768px) {
    .border_left {
        border-right: 0px solid #CCC;
        border-left: 0px solid #CCC;
    }

    .tabel_content table tr td p,
    .tabel_content table tr td {
        color: #9d9d9d;
        font-size: 14px;
        padding: .2rem 10px;
        margin-bottom: 2px;
        white-space: nowrap;

    }

    .tabel_content table thead tr th {
        white-space: nowrap;
    }

    .tabel_content table tr td .tabel_dark b {
        color: #000;
    }
}


@media (max-width: 600px) {
    .bid_header_text h2 {

        font-size: 60px;

    }


    .bid_header_text h3 {
        font-size: 30px;

    }

}

@media only screen and (max-width: 350px) {
    .bid_image img {
        margin-top: 40px;
        width: 100%;
        height: 90px;

    }

    .bid_timer {
        position: relative;
        top: 60px;
    }

    .watch_timer {
        margin-right: 5px;
    }

    .watch_timer span {
        display: block;
        margin: 0;
        border-radius: 100%;
        background: #f7303d;
        width: 40px;
        height: 40px;
    }

    .watch_timer span h5 {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* padding: 18px; */
        color: white;
        font-weight: bold;
        text-align: center;
        color: #FFFFFF;
        font-size: 22px;

    }

    .watch_timer p {
        text-transform: uppercase;
        font-size: 9px;
        margin-top: 10px;
        color: #848484;
    }

    footer a {
        white-space: normal;
    }
}

.term-condition {
    padding: 50px 0;
}

.term-condition h1 {
    text-align: center;
    font-size: 30px;
}

.term-condition .sub-section {
    margin-top: 40px;
}

.term-condition .sub-section p {
    font-size: 14px;
    margin-bottom: 5px;
}

.term-condition .sub-section ul li {
    list-style: disc;
    font-size: 14px;
}


/* //////////////////////////////////////rehman css//////////////////////////////////////// */
.Product_bg_color {
    background: #f5f5f5;
}

.Product_cont {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 0px 0px rgb(208 209 213 / 50%), 0 0px 0px 1px rgb(220 221 224 / 40%);
    margin: 2rem 0;
    padding: 2rem;
}

.Product_cont .pro_head {
    font-weight: bold;
    font-size: 18.6667px;
    color: #5f5e5e;
    line-height: 1.42857143;
    text-align: center;
}

.Product_cont .pro_con {
    text-align: center;
    font-size: 14px !important;
    display: block;
    color: #5f5e5e;
    line-height: 1.42857143;
    padding: 5rem;
}

.Product_cont img {
    object-fit: contain;
    width: 100%;
    height: 422px;
    margin-top: 1rem;
}

.Product_cont ul.pro_detail_list li {
    list-style: disc !important;
    font-size: 14px !important;

}

.Product_cont ul.pro_detail_list li .pro_detail_sublist li {
    list-style: circle !important;
}

.product_content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.pro_tabel {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #002138;
    color: #fefefe;
    padding: 0;
}

.product_content1 {
    padding: 10px;
}

.product_content1 .pro_Sec img {
    width: 28px;
    height: 28px;
}

.pro_content2 img {
    margin: 0 0 10px;
    width: 183px;
    height: 50px;

}

.product_content1 span.pro_price {
    color: #33cc99;
    font-size: 20px;
    font-weight: bold;
}


.product_content1 .pro_Sec span {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.42857143;
}

.pro_content2 p {
    font-weight: 400;
    text-align: center;
    font-size: 16px;
}

.pro_detail_tabel table td {
    color: #fff;
    padding: 10px !important;
    text-align: center;
    line-height: 1.42857143;
    vertical-align: top;
    font-size: 10px;
    border: 0;
}


.pro_detail_tabel table th {
    color: #fff;
    padding: 10px !important;
    text-align: center;
    line-height: 1.42857143;
    vertical-align: top;
    font-size: 10px;
    border: 0;
    background: #002138;
}

.pro_detail_tabel table tr:nth-child(odd) {
    background: #072e3f
}

.pro_detail_tabel table tr:nth-child(even) {
    background: #002138
}

.Product_cont2 {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 0px 0px rgb(208 209 213 / 50%), 0 0px 0px 1px rgb(220 221 224 / 40%);
    margin: 2rem 0;
    padding: 1.3rem;
}

.Product_cont2 h2 {
    font-size: 24px;
    color: #39f;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.1;
}






.Product_cont2 h3 {
    color: #4a4949;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: bold;
    white-space: nowrap;
}

.Product_cont2 img {
    width: 16px;
    height: 16px;
    margin: 5px 5px;
}

.Product_cont2 h4 {
    color: #777;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: bold;
}

.Product_cont2 p,
.Product_cont2 span {
    color: #777;
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 300;
}

.Product_cont2 button {
    font-size: 20px;
    background: linear-gradient(to right, #2b98f0 0%, #21c2f9 100%);
    width: 100%;
    color: #fff;
    padding: .8rem 0;
    transition: all .3s ease-in;
    margin-top: 1rem;
}

.Product_cont2 button:hover {
    font-size: 20px;
    background: linear-gradient(to left, #2b98f0 0%, #21c2f9 100%);
    width: 100%;
    color: #fff;
    padding: .8rem 0;
}

.card_body_content {
    padding: 0 1rem;
}

.card_body_content h5 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
}

.card_body_content p {
    color: #777;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: bold;
    display: flex;

}

.card_body_content p span {
    color: #777;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 400;
    margin-left: 5px;
}
 

.card_content_para {
    color: #777;
    font-size: 14px;
    line-height: 1.42857143;
}
.card_content_head{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;

}













.Product_gallery {
    background-color: #fff;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 2rem 0;
    margin-bottom: 2rem;
    border-radius: 10px;
}











.o-slider-image-viewer {
    position: relative;
  }
  
  .o-slider-image-viewer__inner {
    display: block;
    margin: 0;
    padding: 0;
  }
  
  .o-slider-image-viewer__slide {
    list-style: none;
    text-align: center;
  }
  
  .o-slider-image-viewer__nav {
    align-items: center;
    display: block;
    justify-content: center;
    margin-top: 12px;
  }
  
  .o-slider-image-viewer__dot {
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 12px;
    margin-left: 4px;
    margin-right: 4px;
    width: 12px;
  }
  .o-slider-image-viewer__dot:focus {
    outline: 0;
  }
  .o-slider-image-viewer__dot.tns-nav-active {
    background-color: #aaa;
    cursor: default;
  }
  
/* //////////////////////////////////about_us////////////////// */
 
.about_card {
    margin-top: 3rem;
}
.about_card img {
    width: 100px;
}

.about_card h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.1;
    color: #3d3a3a
}

.about_card p {
    margin-top: 20px;
    line-height: 16px;
    margin: 0 0 10px;
    color: #3d3a3a !important;
    text-align: center;
    font-size: 14px;
}
.about_content{
    margin: 4rem 0;
}
.about_content p {
    color: #3d3a3a !important;
    text-align: center;    
     margin-bottom: 1px;
    margin: 0 0 10px;
    font-size: 14px;
}

.abount_content_banner {
    color: white;
    text-align: center;
}

.abount_content_banner h2 {
    font-weight: bold;
    color: white;
    font-size: 28px;
    line-height: 1.5;
}

.abount_content_banner h3 {
    font-weight: bold;
    color: #ffc518;
    font-size: 22px;
    line-height: 1.5;
}

 .Privacy{
    margin: 30px 0 300px 0;
 }
 .Privacy h1{
    font-size: 22px;    text-align: center;    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 10px;
 }
 
 .Privacy h3{
    font-weight: bold;font-size: 14px;
    line-height: 1.42857143;
    color: #333; margin-top: 30px;
    margin-bottom: 10px;
 }
 .Privacy p,.Privacy ul li {
    color: #3d3a3a !important;    
     margin-bottom: 1px;
    margin: 0 0 10px;
    font-size: 14px;
 }
 .Privacy ul li{
    list-style:  disc;
 }

 .Privacy ul.Sub_count li{
    list-style: upper-roman;
 }
.Heading_privacy {
    margin-bottom: 25px;
}
























  @media screen and (min-width: 767px) {
    .o-slider-image-viewer__dot {
      align-items: center;
      background-color: transparent;
      border-radius: 0;
      border: 1px solid transparent;
      display: flex;
      height: auto;
      justify-content: center;
      padding: 3px;
      width: 48px;
    }
    .o-slider-image-viewer__dot.tns-nav-active {
      background-color: transparent;
      border-color: #aaa;
    }
    
  }
  @media screen and (max-width: 767px) {
    .o-slider-image-viewer__dot-image {
      display: none;
    }  
  }
  /**
   * Product Image Viewer
   */
  .c-product-image-viewer__image {
    max-height: calc(90vh - 96px);
  }
  
  .c-product-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -96px;
    margin-top: 96px;
    margin-bottom: 96px;
  }
  
  .c-product-container__element {
    flex-basis: 100%;
    padding-left: 96px;
    text-align: center;
  }
  
  .c-product-container__element--details {
    margin-top: 48px;
  }
  
  @media screen and (min-width: 767px) {
    .c-product-container__element {
      flex-basis: 50%;
    }
  
    .c-product-container__element--images {
      text-align: right;
    }
  
    .c-product-container__element--details {
      text-align: left;
      margin-top: 0;
    }   
  }
  .c-product-name {
    margin-top: 0;
    margin-bottom: 8px;
  }
  
  @media screen and (min-width: 767px) {
    .c-product-name {
      margin-bottom: 24px;
    }   
  }
















 






  @media only screen and (max-width: 767px) {
   

    .o-slider-image-viewer__nav {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 12px;
      }
 
}




@media only screen and (max-width: 600px) {
    .Product_cont .pro_con {
        text-align: center;
        font-size: 14px !important;
        display: block;
        color: #5f5e5e;
        line-height: 1.42857143;
        padding: 0rem;
    }


    .o-slider-image-viewer__nav {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 12px;
      }
 
}
/* .category-slider .active{
    background-color: blue;
    color: white !important;
    border-radius: 20px;
    padding: 5px 10px;
    width:fit-content;

} */

.col-container{
display: flex;
flex-direction: column;
}
